* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url(logo1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#back {
    display: inline-flex;
    color: azure;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: aqua;
    border-radius: 7px;
}

#next {
    display: inline-flex;
    color: white;
    float: inline-end;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: aqua;
    border-radius: 7px;
}

.item1 {
    background-image: linear-gradient(rgb(223, 148, 148), rgb(160, 160, 235), pink);
    text-align: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 60px;
    border-radius: 15%;
}

.head {
    background-color: rgb(248, 114, 114);
    width: 30%;
    margin-left: 35%;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 3rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.head:hover {
    background-color: rgb(218, 106, 180);
    color: blue;
}

.web {
    background-color: rgb(127, 238, 238);
    margin-top: 20px;
    width: 30%;
    margin-left: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.web:hover {
    background-color: bisque;
}

.web h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

.web h1:hover {
    background-color: rgb(235, 129, 115);
    color: rgb(6, 100, 69);
    border-radius: 20px;
}

.web a {
    font-size: 10px;
    padding: 2px;
    color: red;
    text-decoration: none;
    background-color: yellow;
    float: inline-end;
    border-radius: 5px;
}

.web a:hover {
    background-color: red;
    font-size: 10px;
    color: white;
}

.item2 {
    float: left;
    background-image: linear-gradient(rgb(223, 148, 148), rgb(160, 160, 240), pink);
    width: 50%;
    text-align: center;
    margin-top: 40px;
    border-radius: 5%;
    margin-left: 20px;
}

.head1 {
    background-color: aquamarine;
    width: 70%;
    margin-left: 15%;
    border-radius: 100px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 3rem;

}

.head1:hover {
    background-color: rgb(146, 146, 240);
    color: azure;
}

.language {
    background-color: rgb(127, 238, 238);
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.language:hover {
    background-color: brown;
    color: beige;
}

.language h1 {
    border-radius: 20px;
}

.language h1:hover {
    background-color: rgb(236, 85, 110);
    color: rgb(58, 21, 21);
}

.language a {
    font-size: 10px;
    padding: 2px;
    color: red;
    text-decoration: none;
    background-color: yellow;
    float: inline-end;
    border-radius: 5px;
}

.language a:hover {
    background-color: red;
    font-size: 10px;
    color: white;
}

.item3 {
    float: inline-end;
    background-image: linear-gradient(rgb(223, 148, 148), rgb(166, 166, 233), pink);
    width: 40%;
    text-align: center;
    margin-top: 40px;
    border-radius: 15%;
    margin-right: 20px;
}

.framework {
    background-color: rgb(62, 235, 235);
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.framework:hover {
    background-color: brown;
    color: beige;
}

.framework h1 {
    border-radius: 20px;
}

.framework h1:hover {
    background-color: rgb(236, 85, 110);
    color: rgb(58, 21, 21);
}

.framework a {
    font-size: 10px;
    padding: 2px;
    color: red;
    text-decoration: none;
    background-color: yellow;
    float: inline-end;
    border-radius: 5px;
}

.framework a:hover {
    background-color: red;
    font-size: 10px;
    color: white;
}

@media screen and (max-width:900px) {

    .head {
        font-size: 20px;
        padding: 10px;
        border-radius: 15px;
    }


    .web h1,
    .language h1,
    .framework h1 {
        font-size: 20px;
    }


    .item3 {
        display: flexbox;

    }

    .head1 {
        font-size: 1rem;
        padding: 10px;
    }
}

@media screen and (max-width:550px) {

    .item1,
    .item2,
    .item3 {
        font-size: 10px;
    }

    .head,
    .head1 {
        font-size: 8px;
    }

    .web p,
    .language p,
    .framework p {
        font-size: 8px;

    }

    .item2 {
        margin-left: 25%;
    }

    .web h1,
    .language h1,
    .framework h1 {
        font-size: 8px;
        margin-top: -10px;
        border-radius: 5px;
    }

    .web a {
        font-size: 5px;
        text-align: center;
        margin-right: 3px;
    }

    .web a:hover {
        font-size: 5px;

    }
}